* {
    margin: 0;
    padding: 0;


}
h1 {

    display: block;
    font-size: 30px;
    text-decoration: underline;

}
#printHeader {

    display: none;
    text-align: center;
    margin-bottom: 10px;


}

@media print {
    #printHeader {

        display: block;
    }


}








.input {


    display: block;
    margin: 20px auto 5px 10px;
    width: 300px;
    height: 20px;
    padding: 10px;



}


.input input[type=text] {
    cursor: pointer;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: 10px 0 40px 0;
    transition: 0.5s;
}

.input input[type=text]:hover {

    background: slategrey;
}

.input input[type="text"]::placeholder {

    color: black;
    font-size: 16px;
}



.input2 {

    display: block;
    margin: 20px auto;

    width: 300px;
    height: 40px;
    padding: 10px;


}

.input2 input[type=text] {

    cursor: pointer;
    margin: 20px;
    width: 300px;
    height: 40px;
    padding: 10px;
    transition: 0.5s;
}

.input2 input[type="text"]::placeholder {

    color: black;
    font-size: 16px;
}

.input2 input[type=text]:hover {

    background: slategrey;
}



button {
    display: block;
    width: 160px;
    height: 50px;
    margin: 750px auto 0 auto;
    color: green;
    font-size: 20px;
    cursor: pointer;

}

button:hover {
    background-color: black;
}

.socals {
    text-align: center;
    /* child inline element centered হবে */
    margin-top: 10px;
}




.socals a {
    display: inline-flex;

    justify-content: center;


    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto 600px 10px;
    background-color: #1877f2;
    border-radius: 50%;

    border: 3px solid red;
    transition: 0.5;

}

.socals a:hover {
    background-color: black;
}



#printHeader {

    display: none;
    text-align: center;
    margin-bottom: 10px;


}

@media print {
    #printHeader {

        display: block;
    }


}

#printCover {

    display: none;
}





@media print {

    /* hide everything unnecessary */
    .input,
    .input2,
    button,
    .socals {
        display: none !important;
    }

    /* remove input style */
    input {
        display: none !important;
    }

    /* show print content */
    #printCover,
    #printHeader {
        display: block !important;
        text-align: center;
    }

    ol {
        text-align: left;
        padding-left: 25px;
        margin-top: 10px;
    }

    li {
        list-style: decimal;
        margin-bottom: 8px;
        font-size: 16px;
    }

    body {
        background: white;
        color: black;
    }

}
